#music_app {
    max-width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    /*display: list-item;列表展示，如果不展示列表，会显示一个小点，这里不需要，就改成inline-block*/
    display: inline-block;
    position: relative;
}
/*#music_app .info {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -74.445px;
}*/
@keyframes muiscIconRotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}