<section class="footer">
    <footer>
    	<span class="footer__copyright text-muted">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
        <div class = "footer_div">
            <p class="copyright text-muted">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }}, Inc. 本站由 {{ site.creator }} 创建 </p>
            <!-- 访问统计 -->
            <div align="right">
                <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv">0</span>次</span>
            </div>
            <!--来访用户的IP和地区-->
            <!--<script type="text/javascript" src="http://ip.chinaz.com/getip.aspx"></script>-->
        </div>
    </footer>
</section>
