<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    {% include side-panel.html %}
    <div id="michael-panel-right" class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
        </div>
    </div>
    {% include external.html %}

    <!-- 监听窗口宽度 -->
    <script type="text/javascript">
    // 窗口宽度
    // var c_width = $(document.body).width();
    // var panel_width_left = $("#michael-panel-left").width();
    // var panel_max_width_left = $("#michael-panel-left").maxWidth();
    // console.log('c_width = ' + c_width);
    // console.log('panel_width_left = ' + panel_width_left);
    // console.log('panel_max_width_left = ' + panel_max_width_left);

    // $(document).ready(function() {
    //     $("#michael-panel-left").click(function(event) {
    //         var c_width = $(document.body).width();
    //         var panel_width_left = $("#michael-panel-left").width();
    //         console.log('c_width = ' + c_width);
    //         console.log('panel_width_left = ' + panel_width_left);
    //     });
    // });

    /*
    $(window).resize(function() {
        // alert($(window).width()); //浏览器时下窗口可视区域宽度 
        // alert($(window).height()); //浏览器时下窗口可视区域高度 
        // alert($(document).height()); //浏览器时下窗口文档的高度 
        // alert($(document.body).height());//浏览器时下窗口文档body的高度 
        // alert($(document.body).outerHeight(true));//浏览器时下窗口文档body的总高度 包括border padding margin  
        // alert($(document).width());//浏览器时下窗口文档对于象宽度 
        // alert($(document.body).width());//浏览器时下窗口文档body的高度 
        // alert($(document.body).outerWidth(true));//浏览器时下窗口文档body的总宽度 包括border padding margin
        // console.log('window.width = ' + $(window).width());
        // 窗口宽度
        var c_width = $(window).width();
        var panel_width_left = $("#michael-panel-left").width();
        // var panel_max_width_left = $("#michael-panel-left").maxWidth();
        // if (c_width != panel_width_left) {
        //     $("#michael-panel-left").click(function() {
        //         // var c_width = $(document.body).width();
        //         // var panel_width_left = $("#michael-panel-left").width();
        //         console.log('c_width = ' + c_width);
        //         console.log('panel_width_left = ' + panel_width_left);
        //         // console.log('panel_max_width_left = ' + panel_max_width_left);
        //     });
        // }
        // if (panel_width_left == 500) {
        //     // $("#michael-panel-right").style.marginLeft = panel_width_left + 'px';
        //     document.getElementById("#michael-panel-right").style.marginLeft = panel_width_left + 'px';
        //     $("#michael-panel-right").style.width = (c_width - panel_width_left) + 'px';
        //     console.log('c_width = ' + c_width);
        //     console.log('panel_width_left = ' + panel_width_left);
        // }

        if (panel_width_left !== c_width) {
            if (panel_width_left === 500) {
                // document.getElementById("#michael-panel-right").style.marginLeft = panel_width_left + 'px';
                $("#michael-panel-right").style.marginLeft = panel_width_left + 'px';
                $("#michael-panel-right").style.width = (c_width - panel_width_left) + 'px';
                console.log('c_width = ' + c_width);
                console.log('panel_width_left = ' + panel_width_left);
            }
        }

    });*/
</script>
</body>
</html>
